<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BLOG</title>
</head>

<body>

    <div>

        <main id="corpoStickyNotes">

            <article class="stickyNote">
                <p></p>
            </article>
            
            <div>

                <textarea name=""  id="textInput" placeholder="Write your post."  required minlength="10" maxlength="92"></textarea>
            </div>
            <div id="buttons">


                <input type="button" value="Postar">
                <input type="button" value="Editar ">
                <input type="button" value="Deletar">
            </div>

        </main>

    </div>
</body>

</html>