<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="postIt.css">
    <title>header</title>
</head>

<body>


    <div id="headerArea">
        <header>
            <a href="index.ejs">
                <p>Home</p>
            </a>
            <a href="posts">
                <p>Posts</p>
            </a>
            
            <a href="https://www.google.com/search?sca_esv=1e00339692c3f929&sxsrf=ADLYWIIvSnTUQqRk1gXZN7Fhr_qg3P_r8w:1723740672739&q=fuck+off&udm=2&fbs=AEQNm0AuaLfhdrtx2b9ODfK0pnmi046uB92frSWoVskpBryHTrdWqiVbaH6EqK0Fq9hkAkqRDuhGs7UQnPtZiL0Bzcj78aaFR2vnR4DfQyahVzxKNVahghfRWcP18tIQDI-SEd9Equ5g0GYsIG8jai2_zN8y16CRuLHNs28Ydr3E9AarJg4DUYUsqKibma7jzI96q7Qwb-v6RNSYne1ZlQPcwLjO_sXAfA&sa=X&ved=2ahUKEwja5-6zuveHAxXeqpUCHRccLokQtKgLegQIDxAB&biw=2133&bih=1018&dpr=0.9#vhid=VkaeyKE-5qSOFM&vssid=mosaic" target="_blank">
                <p>Fuck off.</p>
            </a>

        </header>
    </div>
</body>

</html>